{% extends "base.html" %}
{% block title %}Cluster {{ summary.cluster.name }}{% endblock %}
{% block content %}
<h1 class="title">Cluster {{ summary.cluster.name }}
    <span class="links">
        {% for link in links['cluster']: %}
             <a href="{{ link.href.format(id=summary.cluster.id, name=summary.cluster.name, api_server_url=summary.cluster.api_server_url) }}"
                title="{{ link.title.format(id=summary.cluster.id, name=summary.cluster.name, api_server_url=summary.cluster.api_server_url) }}"
                class="button is-light">
                 <span class="icon"><i class="fas fa-{{ link.icon }}"></i></span>
             </a>
        {% endfor %}
    </span>
</h1>
<h2 class="subtitle">{{ summary.cluster.id if summary.cluster.id != summary.cluster.name else summary.cluster.api_server_url }}</h1>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Master Nodes</p>
      <p class="title">{{ summary.master_nodes }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Worker Nodes</p>
      <p class="title">{{ summary.worker_nodes }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Pods</p>
      <p class="title">{{ summary.pods|count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">CPU Requests / Allocatable</p>
      <p class="title">{{ summary.requests.cpu|cpu }} / {{ summary.allocatable.cpu|cpu }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Memory Requests / Allocatable</p>
      <p class="title">{{ summary.requests.memory|filesizeformat(True) }} / {{ summary.allocatable.memory|filesizeformat(True) }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Monthly Cost</p>
      <p class="title">{{ summary.cost|money }} USD</p>
    </div>
  </div>
</nav>

    <div class="notification is-warning">
        You can potentially save <strong>{{ summary.slack_cost|money }} USD</strong> every month by optimizing resource requests and reducing slack.
    </div>

<p class="content">Price per requested vCPU is {{ '{:,.04f}'.format(summary.cost_per_user_request_hour.cpu) }} USD per hour and per requested GiB memory is {{ '{:,.04f}'.format(summary.cost_per_user_request_hour.memory) }} USD per hour.</p>

    <h2 class="title is-5">Nodes</h2>

      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Instance Type</th>
                  <th><abbr title="Spot Instance?">S?</abbr></th>
                  <th>Version</th>
                  <th><abbr title="CPU Capacity">CC</abbr></th>
                  <th><abbr title="Memory Capacity">MC</abbr></th>
                  <th>CPU</th>
                  <th>Memory (GiB)</th>
                  <th>Cost</th>
              </tr>
          </thead>
          <tbody>
          {% for node_name, node in summary.nodes.items()|sort: %}
          <tr>
            <td>{{ node_name }}</td>
            <td>{{ node.role }}</td>
            <td>{{ node.instance_type }}</td>
            <td>{% if node.spot: %}
                <span class="icon"><i class="fas fa-percentage has-text-success"></i></span>
                {% endif %}
            </td>
            <td>{{ node.kubelet_version }}</td>
            <td class="has-text-right">{{ node.capacity.cpu|round(1) }}</td>
            <td class="has-text-right">{{ node.capacity.memory|filesizeformat(True) }}</td>

            <td style="font-size: 0.75rem" data-value="{{ node.usage.cpu }}">
                <div class="resource-labels">
                    <span>{{ node.usage.cpu|round(1) }}</span> <span>{{ node.requests.cpu|round(1) }}</span> <span>{{ node.allocatable.cpu|round(1) }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ node.requests.cpu }}" max="{{ node.allocatable.cpu }}"></progress>
                    <progress class="progress is-primary" value="{{ node.usage.cpu }}" max="{{ node.allocatable.cpu }}"></progress>
                </div>
            </td>
            <td style="font-size: 0.75rem" data-value="{{ node.usage.memory }}">
                <div class="resource-labels">
                    <span>{{ node.usage.memory|memory('GiB') }}</span> <span>{{ node.requests.memory|memory('GiB') }}</span> <span>{{ node.allocatable.memory|memory('GiB') }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ node.requests.memory }}" max="{{ node.allocatable.memory }}"></progress>
                    <progress class="progress is-primary" value="{{ node.usage.memory }}" max="{{ node.allocatable.memory }}"></progress>
                </div>
            </td>
            <td class="has-text-right">{{ node.cost|money }}</td>
          </tr>
          {%endfor %}
          </tbody>

        </table>


    <h2 class="title is-5">Ingresses</h2>
      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Application</th>
                  <th>Host</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
          {% for ingress in summary.ingresses: %}
          <tr>
            <td>{{ ingress[0] }}</td>
            <td>{{ ingress[1] }}</td>
            <td>{{ ingress[2] }}</td>
            <td>{{ ingress[3] }}</td>
            <td><span class="tag
                    {% if ingress[4] >= 500 %}
                       is-danger
                    {% elif ingress[4] >= 400 %}
                       is-info
                    {% elif ingress[4] >= 200 %}
                       is-success
                    {% else: %}
                       is-info
                    {% endif %}
            ">{{ ingress[4] }}</span></td>
          </tr>
          {%endfor %}
          </tbody>

        </table>
    <h2 class="title is-5">Namespaces</h2>
      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>ID</th>
                  <th><abbr title="Active?">A?</abbr></th>
                  <th><abbr title="Pods">P</abbr></th>
                  <th><abbr title="CPU Requests">CR</abbr></th>
                  <th><abbr title="Memory Requests">MR</abbr></th>
                  <th>CPU</th>
                  <th>Memory (MiB)</th>
                  <th class="has-text-right">Cost</th>
                  <th class="has-text-right">Slack Cost</th>
              </tr>
          </thead>
          <tbody>
          {% for namespace_id, namespace_data in namespace_usage.items()|sort: %}
          {% if namespace_data.cluster.id == cluster_id %}
          <tr>
            <td>{{ namespace_id[0] }}</td>
            <td>
                {% if namespace_data.status is not none: %}
                {% if namespace_data.status == "Active": %}
                <span class="icon"><i class="fas fa-check-square has-text-success"></i></span>

                {% else: %}
                <span class="icon"><i class="fas fa-exclamation-triangle has-text-warning"></i></span>
                {% endif %}
                {% endif %}

                </td>
            <td>{{ namespace_data.pods }}</td>
            <td>{{ namespace_data.requests.cpu|round(3) }}</td>
            <td data-value="{{ namespace_data.requests.memory }}">{{ namespace_data.requests.memory|filesizeformat(True) }}</td>

            <td style="font-size: 0.75rem" data-value="{{ namespace_data.usage.cpu }}">
                <div class="resource-labels">
                    <span>{{ namespace_data.usage.cpu|round(2) }}</span> <span>{{ namespace_data.requests.cpu|round(2) }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ namespace_data.requests.cpu }}" max="{{ namespace_data.requests.cpu }}"></progress>
                    <progress class="progress {{ 'is-danger' if namespace_data.usage.cpu > namespace_data.requests.cpu else 'is-primary' }}" value="{{ namespace_data.usage.cpu }}" max="{{ namespace_data.requests.cpu }}"></progress>
                </div>
            </td>
            <td style="font-size: 0.75rem" data-value="{{ namespace_data.usage.memory }}">
                <div class="resource-labels">
                    <span>{{ namespace_data.usage.memory|memory('MiB') }}</span> <span>{{ namespace_data.requests.memory|memory('MiB') }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ namespace_data.requests.memory }}" max="{{ namespace_data.requests.memory }}"></progress>
                    <progress class="progress {{ 'is-danger' if namespace_data.usage.memory > namespace_data.requests.memory else 'is-primary' }}" value="{{ namespace_data.usage.memory }}" max="{{ namespace_data.requests.memory }}"></progress>
                </div>
            </td>

            <td class="has-text-right">{{ namespace_data.cost|money }}</td>
            <td class="has-text-right">{{ namespace_data.slack_cost|money }}</td>

          </tr>
          {% endif %}
          {%endfor %}
          </tbody>

        </table>
    <h2 class="title is-5">Pods</h2>
      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Application</th>
                  <th>Team</th>
                  <th><abbr title="CPU Requests">CR</abbr></th>
                  <th><abbr title="Memory Requests">MR</abbr></th>
                  <th>CPU</th>
                  <th>Memory (MiB)</th>
                  <th class="has-text-right">Cost</th>
              </tr>
          </thead>
          <tbody>
          {% for namespace_name, pod in summary.pods.items(): %}
          <tr>
            <td>{{ namespace_name[0] }}</td>
            <td>{{ namespace_name[1] }}</td>
            <td>{{ pod.application }}</td>
            <td><a href="team-{{ pod.team }}.html">{{ pod.team }}</a></td>
            <td>{{ pod.requests.cpu|round(3) }}</td>
            <td data-value="{{ pod.requests.memory }}">{{ pod.requests.memory|filesizeformat(True) }}</td>

            <td style="font-size: 0.75rem" data-value="{{ pod.usage.cpu }}">
                <div class="resource-labels">
                    <span>{{ pod.usage.cpu|round(2) }}</span> <span>{{ pod.requests.cpu|round(2) }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ pod.requests.cpu }}" max="{{ pod.requests.cpu }}"></progress>
                    <progress class="progress {{ 'is-danger' if pod.usage.cpu > pod.requests.cpu else 'is-primary' }}" value="{{ pod.usage.cpu }}" max="{{ pod.requests.cpu }}"></progress>
                </div>
            </td>
            <td style="font-size: 0.75rem" data-value="{{ pod.usage.memory }}">
                <div class="resource-labels">
                    <span>{{ pod.usage.memory|memory('MiB') }}</span> <span>{{ pod.requests.memory|memory('MiB') }}</span>
                </div>
                <div class="resource-bar">
                    <progress class="progress" value="{{ pod.requests.memory }}" max="{{ pod.requests.memory }}"></progress>
                    <progress class="progress {{ 'is-danger' if pod.usage.memory > pod.requests.memory else 'is-primary' }}" value="{{ pod.usage.memory }}" max="{{ pod.requests.memory }}"></progress>
                </div>
            </td>

            <td class="has-text-right">{{ pod.cost|money }}</td>
          </tr>
          {%endfor %}
          </tbody>

        </table>
{% endblock %}
