{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Clusters</p>
      <p class="title">{{ cluster_summaries|count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Worker Nodes</p>
      <p class="title">{{ total_worker_nodes }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Teams</p>
      <p class="title">{{ teams|count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Applications</p>
      <p class="title">{{ applications|count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Pods</p>
      <p class="title">{{ total_pods }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Monthly Cost</p>
      <p class="title">{{ total_cost|money }} USD</p>
    </div>
  </div>
</nav>

<div class="notification is-warning">
    You can potentially save <strong>{{ total_slack_cost|money }} USD</strong> every month by optimizing resource requests and reducing slack.
</div>

<h2 class="title is-5">CPU</h2>
<div class="resource-labels">
    <span>{{ total_usage['cpu']|cpu }} used</span>
    <span>{{ total_requests['cpu']|cpu }} requested</span>
    <span>{{ total_allocatable['cpu']|cpu }} allocatable</span>
</div>
<div class="resource-bar">
    <progress class="progress" value="{{ total_requests['cpu'] }}" max="{{ total_allocatable['cpu'] }}"></progress>
    <progress class="progress is-primary" value="{{ total_usage['cpu'] }}" max="{{ total_allocatable['cpu'] }}"></progress>
</div>

<h2 class="title is-5">Memory</h2>
<div class="resource-labels">
    <span>{{ total_usage['memory']|filesizeformat(True) }} used</span>
    <span>{{ total_requests['memory']|filesizeformat(True) }} requested</span>
    <span>{{ total_allocatable['memory']|filesizeformat(True) }} allocatable</span>
</div>
<div class="resource-bar">
    <progress class="progress" value="{{ total_requests['memory'] }}" max="{{ total_allocatable['memory'] }}"></progress>
    <progress class="progress is-primary" value="{{ total_usage['memory'] }}" max="{{ total_allocatable['memory'] }}"></progress>
</div>

<h2 class="title is-5">Resource-based Pricing</h2>

<p class="content">Price per vCPU is {{ '{:,.04f}'.format(total_cost_per_user_request_hour.cpu) }} USD per hour and per GiB memory is {{ '{:,.04f}'.format(total_cost_per_user_request_hour.memory) }} USD per hour.</p>

<h2 class="title is-5">Notifications</h2>
{% for notification in notifications: %}
<div class="notification is-{{ 'danger' if notification[0] == 'error' }}">
    {{ notification[1] }}
</div>
{% else %}
<p>No warnings or errors to report.</p>
{% endfor %}


{% endblock %}
