{% extends "base.html" %}
{% block title %}Ingresses{% endblock %}
{% block content %}

      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Cluster</th>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Application</th>
                  <th>Host</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
          {% for cluster_id, summary in cluster_summaries.items(): %}
          {% for ingress in summary.ingresses: %}
          <tr>
            <td><a href="./cluster-{{ cluster_id }}.html">{{ summary["cluster"].name }}</a></td>
            <td>{{ ingress[0] }}</td>
            <td>{{ ingress[1] }}</td>
            <td>{{ ingress[2] }}</td>
            <td>{{ ingress[3] }}</td>
            <td><span class="tag
                    {% if ingress[4] >= 500 %}
                       is-danger
                    {% elif ingress[4] >= 400 %}
                       is-info
                    {% elif ingress[4] >= 200 %}
                       is-success
                    {% else: %}
                       is-info
                    {% endif %}
            ">{{ ingress[4] }}</span></td>
          </tr>
          {%endfor %}
          {%endfor %}
          </tbody>

        </table>

{% endblock %}
